
body {
  background: #000000;
  font-family: monospace;
  color: #33FF00;
}

.header {
  background-color: #000000;
  color: #33FF00;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #33FF00;
  min-height: 50px;
  margin: 1px;
}

input {
  font-family: monospace;
  background: black;
  margin: 1px;
  -webkit-appearance: none;
  border: 1px solid;
  border-bottom: 1px solid #33FF00;
  color: #33FF00;
  padding: 8px;
  border-radius: 3px;
  font-size: 15px;
}

.button {
  font-family: monospace;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 1px solid #33FF00;
  color: #33FF00;
  background-color: #092B00;
  cursor: pointer;
  margin: 10px;
  padding: 8px;
  max-width: 200px;
  border-radius: 3px;
}

.connectedMessage {
  background-color: #042100;
  color: #000000;
  margin: 10px;
  border: 1px solid #33FF00;
  padding: 15px;
  font-size: 17px;
  text-align: center;
  font-weight: bold;
}

.container {
  padding: 5px;
  margin: 10px;
  border: 1px solid #33FF00;
  min-height: 50px;
}